name: Run Yarn job

on:
  workflow_call:
    inputs:
      node-version:
        description: The version of Node.js to use. Defaults to Node 20
        required: false
        default: 20
        type: number
      operating-system:
        description: The operating system to use. Defaults to ubuntu-latest
        required: false
        default: ubuntu-latest
        type: string
      script-name:
        description: The name of the yarn script to run
        required: true
        type: string
      enable-sonar:
        description: Whether to enable SonarQube analysis. Defaults to false. Enable it stand-alone, or in the tests job
        required: false
        default: false
        type: boolean
    secrets:
      SONAR_HOST_URL:
        description: The URL of the SonarQube server, required if inputs.enable-sonar is true
        required: false
      SONAR_TOKEN:
        description: The token for the SonarQube server, required if inputs.enable-sonar is true
        required: false
      NODE_AUTH_TOKEN:
        description: The token to authenticate with the NPM registry
        required: false

jobs:
  run-job:
    name: Run yarn job
    runs-on: ${{ inputs.operating-system }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Install dependencies
        uses: sapphiredev/.github/actions/install-yarn-dependencies@main
        with:
          node-version: ${{ inputs.node-version }}
      - name: Run job
        run: yarn ${{ inputs.script-name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - name: SonarQube Scan
        if: ${{ inputs.enable-sonar && inputs.node-version == 20 }}
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Quality Gate
        if: ${{ inputs.enable-sonar && inputs.node-version == 20 }}
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
