name: Run Yarn job

on:
  workflow_call:
    inputs:
      node-version:
        description: The version of Node.js to use. Defaults to Node 20
        required: false
        default: 20
        type: number
      operating-system:
        description: The operating system to use. Defaults to ubuntu-latest
        required: false
        default: ubuntu-latest
        type: string
      script-name:
        description: The name of the yarn script to run
        required: true
        type: string
    secrets:
      NODE_AUTH_TOKEN:
        description: The token to authenticate with the NPM registry
        required: false

jobs:
  run-job:
    name: Run yarn job
    runs-on: ${{ inputs.operating-system }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Install dependencies
        uses: sapphiredev/.github/actions/install-yarn-dependencies@main
        with:
          node-version: ${{ inputs.node-version }}
      - name: Run job
        run: yarn ${{ inputs.script-name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
