name: docgen

on:
  workflow_call:
    inputs:
      node-version:
        description: The version of Node.js to use. Defaults to Node 20
        required: false
        default: 20
        type: number
      operating-system:
        description: The operating system to use
        required: false
        default: ubuntu-latest
        type: string
      mono-repo:
        description: Whether this targets a monorepo or not
        required: false
        default: true
        type: boolean
    outputs:
      name:
        description: The name of the project
        value: ${{ jobs.docgen.outputs.NAME }}
      type:
        description: The type of the project
        value: ${{ jobs.docgen.outputs.TYPE }}
      sha:
        description: The SHA of the project
        value: ${{ jobs.docgen.outputs.SHA }}
      artifact-id:
        description: The id of the uploaded artifact
        value: ${{ jobs.docgen.outputs.artifact-id }}

jobs:
  docgen:
    name: Build Documentation
    runs-on: ${{ inputs.operating-system }}
    if: github.repository_owner == 'sapphiredev'
    outputs:
      name: ${{ steps.env.outputs.NAME }}
      type: ${{ steps.env.outputs.TYPE }}
      sha: ${{ steps.env.outputs.SHA }}
      artifact-id: ${{ steps.env.outputs.ARTIFACT_ID }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Install dependencies
        uses: sapphiredev/.github/actions/install-yarn-dependencies@main
        with:
          node-version: ${{ inputs.node-version }}
      - name: Build Documentation
        run: yarn docs
      - name: Set Output
        id: env
        run: |
          echo "NAME=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          echo "TYPE=${GITHUB_REF_TYPE}" >> $GITHUB_OUTPUT
          echo "SHA=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "ARTIFACT_ID=$(uuidgen)" >> $GITHUB_OUTPUT
      - name: Upload Documentation Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.env.outputs.ARTIFACT_ID }}
          path: ${{ inputs.mono-repo == true && 'packages/*/docs/api.json' || 'docs/api.json' }}
