name: tests

on:
  workflow_call:
    inputs:
      node-version:
        description: The version of Node.js to use (default `20`)
        required: false
        default: 20
        type: number
      operating-system:
        description: The operating system to use (default `ubuntu-latest`)
        required: false
        default: ubuntu-latest
        type: string
      with-submodules:
        description: Whether to include submodules when checking out the repository (default `false`)
        required: false
        default: 'false'
        type: string
      enable-sonar:
        description: Whether to enable SonarQube analysis
        required: false
        default: false
        type: boolean
      build:
        description: Whether to run `yarn build` before testing
        required: false
        default: false
        type: boolean
      ci:
        description: Whether to run in CI mode. This runs "test:ci" instead of "test"
        required: false
        default: false
        type: boolean
    secrets:
      SONAR_TOKEN:
        description: The token for the SonarQube server, required if inputs.enable-sonar is true
        required: false

jobs:
  tests:
    name: Unit testing
    runs-on: ${{ inputs.operating-system }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.enable-sonar == true && '0' || '1' }}
          submodules: ${{ inputs.with-submodules }}
      - name: Install dependencies
        uses: sapphiredev/.github/actions/install-yarn-dependencies@main
        with:
          node-version: ${{ inputs.node-version }}
      - name: Build
        if: inputs.build
        run: yarn build
      - name: Run job
        run: yarn ${{ inputs.ci && 'test:ci' || 'test' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - name: SonarCloud Scan
        if: inputs.enable-sonar && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'sapphiredev')
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
